@import "../../assets/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "tocbot/src/scss/tocbot.scss";

.post-toc {
  top: 0;
  height: 100%;
}

.toc-header {
  color: map-get($theme-colors, "primary");
}

.toc-list {
  margin: 0;
  padding-left: 15px;
  font-size: 14px;
}

a.toc-link {
  color: map-get($theme-colors, "primary");
}

.is-active-link::before {
  background-color: map-get($theme-colors, "primary");
}
