@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

header {
  margin-bottom: 0.5rem;
  h1 {
    margin-bottom: 0;
  }
}

section {
  h2, h3, h4, h5 {
    margin-top: 0.5rem;
  }

  ul {
    @include media-breakpoint-down(md) {
      padding-inline-start: 20px;
    }
  }
}

.authors {
  color: map-get($theme-colors, "secondary");
  font-size: 1.25rem;
}
